

.list:not(.inline) { 
  --child-margin: 0 auto;
  --item-pad: 1em;
  --radius: var(--round-corners);
  --margin: 0;
  --pad: 0.5em;
  border-radius: var(--radius);
  list-style-type: none;
  margin: var(--margin);
  padding: var(--pad);
  display: flex;
  flex-direction: column;
  & .item { 
    padding: var(--item-pad);
    & .text { margin: var(--child-margin) }
    & .link { margin: var(--child-margin)}
    & .btn { margin: var(--child-margin)}
  }
}

.list--inline {
  --margin: 0;
  --pad: 0.5em;
  --gap: 3vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  padding: var(--pad);
  margin: var(--margin);
  & .item { 
    display: inline-block; 
  }
}
