:root {
  --hsl--neutral--100: hsl(0 0% 10%);
  --hsl--neutral--200: hsl(0 0% 20%);
  --hsl--neutral--300: hsl(0 0% 30%);
  --hsl--neutral--400: hsl(0 0% 40%);
  --hsl--neutral--500: hsl(0 0% 50%);
  --hsl--neutral--600: hsl(0 0% 60%);
  --hsl--neutral--700: hsl(0 0% 70%);
  --hsl--neutral--800: hsl(0 0% 80%);
  --hsl--neutral--900: hsl(0 0% 90%);
  --hsl--neutral--1000: hsl(0 0% 100%);
}
