:root {
  /*** SPIN ANIMS ***/
  --anim--spin: spin infinite 10s linear;
  --anim--spin--slow: spin infinite 30s linear;
  --anim--spin--fast: spin infinite 5s linear;
  /*** SCROLL ANIMS ***/
  --anim--scroll: scroll 40s;
  --anim--scroll--slow: scroll 60s;
  --anim--scroll--fast: scroll 20s;
  /*** SLIDE ANIMS ***/
  --anim--slide-in: slide-in var(--1s);
  --anim--slide-out: slide-out var(--1s);
  /*** PULSE ANIMS ***/
  --anim--pulse--1s: pulse var(--1s);
  --anim--pulse--2s: pulse var(--2s);
}
