
:root {
   /*** DEVICE WIDTHS ***/
  --mobile: 600px; /*** MAX WIDTH ***/
  --tablet: 720px; /*** MIN WIDTH ***/
  --laptop: 920px; /*** MIN WIDTH ***/
  --pc: 1200px;    /*** MIN WIDTH ***/
  --pc-lg: 1020px;
}
