:root {
  --font-default: system-ui;
  --font-fallback-1: Avenir;
  --font-fallback-2: Helvetica;
  --font-sans: sans-serif;

  --font-stack: var(--font-default) var(--font-fallback-1) var(--font-fallback-2) var(--font-serif);
  --font-mono: Roboto;
  --font-pop: Poppins;
  /*** FONT SIZES ***/  
  --fs-root: 16px;

  --fs-fine: min(calc(var(--fs-root) / 4), 0.4rem);
  --fs-tiny: min(calc(var(--fs-root) / 3), 0.6rem);
  --fs-sm: min(calc(var(--fs-root) / 2), 0.8rem);
  --fs-text: min(var(--fs-root), 1.6rem);
  --fs-lg: min(calc(var(--fs-root) * 1.5), 2.4rem);
  --fs-xl: min(calc(var(--fs-root) * 2), 3.2rem);
  

  --fs-btn: clamp(0.8rem 1.25em 1.4rem);
  --fs-link: clamp(1rem 1.4em 2rem);
  --fs-head: clamp(2.5rem 3em 4rem);

}
