:root {
  --font-stack: Arial, Helvetica, sans-serif;
  --font-mono: Roboto;
  --font-pop: Poppins;
  --font-sans: sans-serif;
  /*** FONT SIZES ***/  
  --fs-root: 16px;

  --fs-fine: min(calc(var(--fs-root) / 4), 0.4rem);
  --fs-tiny: min(calc(var(--fs-root) / 3), 0.6rem);
  --fs-sm: min(calc(var(--fs-root) / 2), 0.8rem);
  --fs-text: min(var(--fs-root), 1.6rem);
  --fs-lg: min(calc(var(--fs-root) * 1.5), 2.4rem);
  --fs-xl: min(calc(var(--fs-root) * 2), 3.2rem);
  --fs-head: min(calc(var(--fs-root) * 2.5), 4rem);  

}
