:root {
  --ms--1s: 1000ms;
  --ms--2s: 2000ms;
  --ms--3s: 3000ms;
  --ms--4s: 4000ms;
  --ms--5s: 5000ms;
  --ms--6s: 6000ms;
  --ms--7s: 7000ms;
  --ms--8s: 8000ms;
  --ms--9s: 9000ms;
  --ms--10s: 10000ms;
}

